@import "tailwindcss";
@import "./typography.css";

/* @tailwind utilities; */

/* FONTS UTILIZADOS */
@font-face {
  font-family: 'Xtra';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('/src/assets/fonts/Xtra.ttf') format('truetype'); /* Especifica el formato */
}

@font-face {
  font-family: 'Quadrata_Friz';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/src/assets/fonts/Quadrata_Friz.ttf') format('truetype');
}

@font-face {
  font-family: 'SegoeItalic';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/src/assets/fonts/SegoeItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'QuadrataOSTBold';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('/src/assets/fonts/QuadrataOSTBold.ttf') format('truetype');
}

@font-face {
  font-family: 'TrajanProReg';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/src/assets/fonts/TrajanProReg.ttf') format('truetype');
}

@font-face {
  font-family: 'TrajanProBold';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('/src/assets/fonts/TrajanProBold.ttf') format('truetype');
}
@font-face {
  font-family: 'EnchantedLand';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('/src/assets/fonts/EnchantedLand.otf') format('truetype');
}
@font-face {
  font-family: 'PerrygothicRegular';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('/src/assets/fonts/PerrygothicRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'Deutsch';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('/src/assets/fonts/Deutsch.ttf') format('truetype');
}
/* Deutsch */
/* COLORES PERSONALIZADOS */
@theme {
  --font-xtra: 'Xtra';
  --font-SegoeItalic: 'SegoeItalic';
  --font-Quadrata: 'Quadrata_Friz'; /* Corregido el nombre */
  --font-QuadrataOst: 'QuadrataOSTBold';
  --font-TrajanProBold: 'TrajanProBold';
  --font-TrajanProReg: 'TrajanProReg';
  --font-EnchantedLand: 'EnchantedLand';
  --font-PerrygothicRegular: 'PerrygothicRegular';
  --font-Deutsch: 'Deutsch';
  --color-redSherwood : #c92641;
  --color-redSherwood-500 : #ec2e4d;
  --color-redSherwood-hov : #861729;
  --color-redSherwood-700: #b12a2a;
  --color-redSherwood-800: #610e22;
  --color-redSherwood-900: #500b17;
  --color-textSherwood : #fff2a8;
  --color-blackSherwood : #3a0810;
  --color-black-900 : #1b1b1b;
  --color-black-950 : #020202;
  --color-bgSherwod : #fff5d4;
  --color-Brown-500 : #967120;
  --color-Brown-700 : #775712;
  --color-Brown-950 : #2e2106;
  --color-bgblack : #282828;
}
.Sherwood{
  color:#020202;
  color:#610e22;
}
.text-shadow {
  text-shadow: 2px 2px 1px black;
}
/* MARCOS PERSONALIZADOS SHERWOOD */
.border-gold{
  border: 10px solid;
  border-image: url("/src/assets/marcos/gold.png") 10 round; /* Borde con imagen */
  border-image-slice: 20;
  /* border-image-outset: 5px; */
  border-image-repeat:round;
}
.border-piedra{
  border: 60px solid;
  border-image: url("/src/assets/marcos/marco-piedra.png") 10 round; /* Borde con imagen */
  border-image-slice: 200;
  border-image-outset: 5px;
  border-image-repeat:round;
}
.bg-medieval{
  background-image: url("/src/assets/medieval-texture.png"); /* Fondo de papel */
  background-size: cover; /* Ajusta el fondo al tamaño del contenedor */
  background-repeat: no-repeat; /* Evita la repetición del fondo */
  padding: 20px; /* Espacio interno */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra */
}
.bg-medieval2{
  background-image: url("/src/assets/medieval-texture2.png"); /* Fondo de papel */
  background-size: cover; /* Ajusta el fondo al tamaño del contenedor */
  background-repeat: no-repeat; /* Evita la repetición del fondo */
  padding: 20px; /* Espacio interno */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra */
}
.bg-medieval3{
  background-image: url("/src/assets/fondo-medieval.avif"); /* Fondo de papel */
  background-size: cover; /* Ajusta el fondo al tamaño del contenedor */
  background-repeat: no-repeat; /* Evita la repetición del fondo */
  padding: 20px; /* Espacio interno */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra */
}
.border-dungeon{
  border: 20px solid;
  border-image-source: url('/src/assets/marcos/marco-dungeon.svg');
  border-image-slice: 40;
  /* border-image-outset: 5px; */
  border-image-repeat:round;
}

.border-sherwood{
  border: 60px solid;
  border-image-source: url('/src/assets/marcos/borde-Sherwood.svg');
  border-image-slice: 50;
  border-image-outset: 5px;
  border-image-repeat:round;
}
.border-brown{
  border-bottom: 15px solid;
  /* border-top: 15px solid; */
  border-image-source: url('/src/assets/marcos/borde.svg');
  border-image-slice: 80;
  border-image-repeat: round;
}
/* .border-dorado{
  border: 100px solid transparent;
  border-image-source: url('/src/assets/marcos/borde-dorado.svg');
  border-image-slice:120;
  border-image-outset: 5px;
  border-image-repeat:round;
  filter: hue-rotate(10deg) sepia(100%) brightness(80%);
} */
.border-metal{
  border: 40px solid transparent;
  border-image-source: url('/src/assets/marcos/marcoMetalico.svg');
  border-image-slice:90;
  /* border-image-outset: 5px; */
  border-image-repeat:round;
}
.border-gotico{
  border: 60px solid;
  border-image-source: url('/src/assets/marcos/Marco-gotico.svg');
  border-image-slice: 250;
  /* border-image-outset: 5px; */
  border-image-repeat: round;
} 
.border-button{
  border:10px solid;
  border-image-source: url('/src/assets/marcos/MarcoButton.svg');
  border-image-slice:200;
  border-image-outset: 6px;
  border-image-repeat: round;
}
.bg-maidmarian{
  border-image-source: url('/src/assets/FondoMaidmarian.png');
}
.bg-blacktransparente{
background-color: #000000ab;
}
