@import "tailwindcss";
@import "./typography.css";

/* @tailwind utilities; */

/* FONTS UTILIZADOS */
@font-face {
  font-family: 'Xtra';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('/src/assets/fonts/Xtra.ttf') format('truetype'); /* Especifica el formato */
}

@font-face {
  font-family: 'Quadrata_Friz';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/src/assets/fonts/Quadrata_Friz.ttf') format('truetype');
}

@font-face {
  font-family: 'SegoeItalic';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/src/assets/fonts/SegoeItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'QuadrataOSTBold';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('/src/assets/fonts/QuadrataOSTBold.ttf') format('truetype');
}

@font-face {
  font-family: 'TrajanProReg';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/src/assets/fonts/TrajanProReg.ttf') format('truetype');
}

@font-face {
  font-family: 'TrajanProBold';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('/src/assets/fonts/TrajanProBold.ttf') format('truetype');
}

/* COLORES PERSONALIZADOS */
@theme {
  --font-xtra: 'Xtra';
  --font-SegoeItalic: 'SegoeItalic';
  --font-Quadrata: 'Quadrata_Friz'; /* Corregido el nombre */
  --font-QuadrataOst: 'QuadrataOSTBold';
  --font-TrajanProBold: 'TrajanProBold';
  --font-TrajanProReg: 'TrajanProReg';
  --color-redSherwood : #c92641;
  --color-redSherwood-500 : #ec2e4d;
  --color-redSherwood-hov : #861729;
  --color-redSherwood-800: #610e22;
  --color-redSherwood-900: #500b17;
  --color-textSherwood : #fff2a8;
  --color-blackSherwood : #3a0810;
  --color-black-900 : #0c080a;
  --color-bgSherwod : #fff5d4;
  --color-Brown-500 : #967120;
  --color-Brown-700 : #775712;
  --color-Brown-950 : #2e2106;
  --color-bgblack : #282828;
}
.Sherwood{
  color:#ffffff;
  color:#ec2e4d;
}

/* MARCOS PERSONALIZADOS SHERWOOD */
.border-dungeon{
  border: 30px solid;
  border-image-source: url('/src/assets/marcos/marco-dungeon.svg');
  border-image-slice: 60;
  border-image-outset: 5px;
  border-image-repeat:round;
}
.border-t-dungeon{
  border-top: 30px solid;
  border-image-source: url('/src/assets/marcos/marco-dungeon.svg');
  border-image-slice: 60;
  border-image-outset: 5px;
  border-image-repeat:round;
}
.border-sherwood{
  border: 40px solid;
  border-image-source: url('/src/assets/marcos/borde-Sherwood.svg');
  border-image-slice: 40;
  border-image-outset: 5px;
  border-image-repeat:round;
}
.border-brown{
  border-bottom: 15px solid;
  border-top: 15px solid;
  border-image-source: url('/src/assets/marcos/borde.svg');
  border-image-slice: 80;
  border-image-repeat: round;
}
.border-sherwoodred{
  border: 40px solid;
  border-image-source: url('/src/assets/marcos/marcoRed.svg');
  border-image-slice: 40;
  border-image-repeat: round;
}
.border-button{
  border:10px solid;
  border-image-source: url('/src/assets/marcos/MarcoButton.svg');
  border-image-slice:200;
  border-image-outset: 6px;
  border-image-repeat: round;
}
.bg-maidmarian{
  border-image-source: url('/src/assets/FondoMaidmarian.png');
}
.bg-blacktransparente{
background-color: #000000ab;
}
