@import "tailwindcss";
@import "./typography.css";

/* MARCOS PERSONALIZADOS SHERWOOD */
.border-clan{
  border: 70px solid;
  border-image: url("/src/assets/marcos/clan.png") 10 round; /* Borde con imagen */
  border-image-slice: 350;
  border-image-outset: 1rem;
  border-image-repeat:repeat;
}